body{
    width: 97%;
    height: 96vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(150deg, #74f3cd, #f96609, #Cea250);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
    
}

.theme_iron{
    background: linear-gradient(150deg, #0000009c, #ffffff, #0000009c);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}

.face{
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow( 1px 1px 5px #000 );
            filter: drop-shadow( 1px 1px 5px #000 );
    max-width: 100%;
    max-height: 100%;
}

.cara{
    width: 10%;
    height: 70%;
    -webkit-filter: drop-shadow( 0px 1px 2px #000 );
    filter: drop-shadow( 0px 1px 2px #000 );


}

.ojo{
    height: 60%;
    margin-left:-4% ;
    margin-right:-4% ;
}

.voca{
    margin-bottom: -6%;
    height: 100%;
}

.desvancer{
    -webkit-filter: drop-shadow( 1px 1px 900px rgb(255, 255, 255) );
    filter: drop-shadow( 1px 1px 900px rgb(255, 255, 255) ); 
}

.theme_night{
    background: linear-gradient(150deg, #20276e, #3a3a3a, #00212e);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}

.theme_rose_rain{
    background: linear-gradient(150deg, #ff77d2, #a200d3, #ff00f2);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}
.theme_natural{
    background: linear-gradient(150deg, #363636, #63ff44, #896eff);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}

@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 90% 90%;}
    100% {background-position: 0% 50%;}
}

.botones{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
        max-width: 55%;
    max-height: 55%;
     
}

 
.oculto{
    transform: scale(0);
    margin-left: -41.3%;
}

.opacidad_menor{
    opacity: 70%;
    transition: opacity 0s, 2s, 1s;
}

.circulo_explosivo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.explosion{
    transform:scale(50) ;
    background-color: wheat;
    opacity: 50%;
}

.botonprincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: wheat;
    height: 70%;
    width: 13.5%;
    border-radius: 100%;
    cursor: pointer;
    box-shadow:  0 0 2vw rgba(0, 0, 0, 5); 
    transition: transform 0s, 0s, 1s; 
    font-size: 2.5vw;
}

.textolith{
    color: white;
    width: 25%;
    height: 20%;
    border-radius: 8%;
    transition: transform 0s, 0s, 1s;
    opacity: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.oculto2{
    width: 0%;
    height: 0%;
    transition: transform 0s, 0s, 1s;
    transform: scale(0);
}

.texto{
    display: flex;
    justify-content: center;
    font-weight:bold;
    text-shadow: 3px 3px 4px #3a3a3a ;
    font-size: 1.3vw;
}

/* .dicipar_shadow{
    box-shadow: 0 0 50vw #790303;
} */

.botonprincipal:hover{
    box-shadow: 0 0 1vw rgba(0, 0, 0, 5);
    opacity: 90%;
    transform: scale(1.2);
    transition: transform 0s, 0s, 1s;
    
}
.botonprincipal img{
    width: 20%;
    height: 20%;
}

.principio{
    background-color: white;
    border-radius: 2%;
    width: 67%;
    height: 50%;
}

.texto{
    margin-left: 2%;
    width: 95%;
    height: 70%;
    resize: none;
}

.startstop{
    height: 22%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


 
.circulo{
    animation: circulo 3s ease infinite;
    transition: transform 0s, 0s, 0s; 
    max-width: 40%; 
}

.circulo-img{
    color: wheat;
}

@keyframes circulo {
    0% {transform: scale(1)}
    50% {transform: scale(2)}
    0% {transform: scale(1)}
}

.micros{
    width: 100%;
    height: 100%;
}

.butons{
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3vw;
    height: 3vw;
    transition: transform 200ms, 200ms, 200ms ;
}

.butons:hover{
    transition: transform  200ms, 200ms, 200ms;   
    transform: scale(1.2);
    opacity: 80%;

}@media screen and (max-width:1080px){
    .cara{
        width: 100%;
        height: 100%;
        
    }
    .texto{
        font-size: 4vw;
    }
    .ojo{
        height: 80%;
        margin-left:-58% ;
        margin-right:-58% ;
    }
    
    .voca{
        margin-bottom: -40%;
        height: 100%;
    }
    .butons{
        font-size:4.7vw;
    }
    .butons img{
        width: 6vw;
        height: 6vw;
    }
    .textolith{
        width: 50%;
    }
}

